/* Reset all browser default styles to ensure consistency across different browsers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Selectors - how to target elements
h1 {} - target by element type
.logo {} - target by class
#hero {} - target by id
nav a {} - target an element inside another element, e.g. target all <a> tags inside <nav>
h1, h2, h3 {} - target multiple elements at once
*/

/* Define CSS variables - Color palette & typography */
/* Better for future changes, as you can change the color in one place */
:root {
    --color-dark-green: #06402B;
    --color-warm-ivory: #FDF4DC;
    --color-fairway-beige: #D4C5A9;
    --color-warm-gold: #C9952A;
    --font-heading: 'Cormorant Garamond', serif;
    --font-body: 'Lato', sans-serif;
}

/* Responsive design with media queries - change styles based on screen size, e.g. when guests are checking on their phones */
@media (max-width: 768px) {
    .room-type {
        width: 100%; /* Make room types take full width on smaller screens */
    }
}

/* Flexbox: a CSS layout system that allows you to position elements in a row or column flexibly */
/* Apply it to a parent element and it arranges the children */
/* Eg: make children sit in a row, spaced apart, vertically centred */

/* HEADER STYLING */
header {
    background-color: var(--color-dark-green);
    display: flex;
    justify-content: space-between; /* space between children */
}

header p.logo {
    color: var(--color-warm-ivory);
    font-family: var(--font-heading);
    font-size: 1.5rem; /* 1.5 times the base font size */
    font-weight: bold;
    padding: 20px 10px; /* add some padding around the logo */
    justify-content: flex-start; /* push the logo to the left */
    margin-left: 10px; /* add some space to the left of the logo */
}

header nav ul {
    display: flex; /* make the nav links sit in a row */
    list-style: none; /* remove bullet points */
    justify-content: flex-end; /* push the nav links to the right */
    padding: 20px 10px; /* add some padding around the nav links */
    align-items: center; /* vertically centre the nav links */
}

header nav ul li a {
    margin-left: 20px; /* add some space between the nav links */
    color: var(--color-warm-ivory);
    text-decoration: none; /* remove underline */
}
header nav ul li a:last-child {
    margin-right: 20px; /* add some space to the right of the last nav link */
}

/* HERO SECTION STYLING */
#hero {
    display: flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    flex-direction: column; /* stack the content vertically */
    text-align: center; /* center the text */
    padding: 100px 100px; /* add some padding around the hero section */
}

#hero h1 {
    font-family: var(--font-heading);
    font-size: 3rem; /* 3 times the base font size */
    color: var(--color-dark-green);
    font-style: italic; /* make the heading italic */
    margin-bottom: 20px; /* add some space below the subheading */
}
#hero p {
    font-family: var(--font-body);
    font-size: 1.2rem; /* 1.2 times the base font size */
    color: var(--color-dark-green);
    margin-bottom: 20px; /* add some space below the paragraph */
}
#hero p.location {
    font-family: var(--font-body);
    font-size: 1.2rem; /* 1.2 times the base font size, default root font size is 16px */
    color: var(--color-warm-gold);
    margin-bottom: 20px; /* add some space below the paragraph */
    text-transform: uppercase; /* make the location text uppercase */
    font-weight: bold; /* make the location text bold */
}

/* Style the Call To Action button */

#hero a {
    display: inline-block; /* make the link behave like a button */
    background-color: var(--color-warm-gold);
    color: var(--color-warm-ivory);
    padding: 20px 28px; /* add some padding around the button */
    text-decoration: none; /* remove underline */
    font-family: var(--font-body);
    font-weight: 700; /* make the button text bold */
    letter-spacing: 0.06em; /* add some space between the letters, equal 6% of current font size */
    border-radius: 10px; /* round the corners of the button */
    margin-top: 20px; /* add some space above the button */
}

h1, h2, h3 {
    font-family: var(--font-heading);
}
body {
    font-family: var(--font-body);
    background-color: var(--color-warm-ivory);
    color: var(--color-dark-green);
}